<div class="row">
  <div class="large-12 columns">
    <h1><%= @property.name %></h1>
    <h4>Located at <%= @property.latitude %>, <%= @property.longitude %></h4>
    <img src="http://placehold.it/950x400" />
  </div>
</div>



<% unless @nearby_properties.blank? %>
  <div class="row">
    <div class="small-12 columns">
      <h2 class="subheader">Nearby properties...</h2>
    </div>
  </div>
  <% @nearby_properties.each do |property| %>
    <br/>
    <div class="row">
      <div class="small-5 columns">
        <img src="http://placehold.it/350x250" />
      </div>

      <div class="small-7 columns">
        <div class="panel">
          <h3><%= truncate(property.name, :length => 30, :seperator => ' ') %></h3>
          <p>This is a great property with <%= pluralize(property.bedroom_count, "bedroom") %>. </p>
          <%= link_to "View this Property", property_path(property),:class => "button" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<br/>
<div class="row">
  <div class="small-3 columns">
    <%= link_to "Back", :back, :class => "button" %>
  </div>
  <div class="small-3 columns">
    <%= link_to "Show all Listings", "/", :class => "button" %>
  </div>
</div>
